@font-face {
    font-family: 'fuente_obtenlo';
    src: url('./fuenteGamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.prueba {
    font-family: 'fuente_obtenlo';
    text-align: center;
    margin-top: 20px;
}