.loading {
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}

.loading span {
    display: inline-block;
    margin: 0 -.05em;
}

.loading_section {
    margin-top: 20px;
    margin-bottom: 50px;
}

.spinner_section {
    margin-bottom: 80px;
}

.loading01 span {
    animation: loading01 1.4s infinite alternate;
}

.loading01 span:nth-child(1) {
    animation-delay: 0s;
}
.loading01 span:nth-child(2) {
    animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
    animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
    animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
    animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes loading01 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  