.under_construction {

    background-image: url('../../../public/images/backgrounds/under_construction.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 95vh;
    overflow: hidden;
}